*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.logo {
	width: 115px;
}
header{
	height: 250px;
	background-color: #0020F4;
	padding: 10px;
}
header a{
	color: #FFFFFF
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
nav li{
	margin: 8px;
}
.butt-on{
	color: #171717;
	background-color: #FFFFFF;
	padding: 7px;
	border-radius: 28px;
}
